header{
    display: flex;
    flex-direction: column;
}
span{
    position: relative;
    font-size: 1em;
    color: var(--cor-principal);
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
    gap: 10px;
}
.menu-secundario{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 5px 20px;
    background-color: var(--cor-terciaria);
    color: var(--cor-principal);
    gap: 10px;
}
.icon{
    width: 20px;
    height: 20px;
}
.menu-primario{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    gap: 20px;
    font-size: 1.2em;
}
.logo{
    width: 350px;
}
.menu-nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}