.hero{
    position: relative;
    width: 100%;
    height: 600px;
    background-image: url(../img/night-construction-site.jpg);
    background-size: cover;
    background-position: center;
}
.conteudo-hero{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: #44494ede;
    bottom: 0;
    padding: 10px 20px;
    color: var(--cor-de-fundo);
    gap: 30px;
}
.botao-orcamento{
    background-color: var(--cor-principal);
    color: var(--cor-do-texto);
    padding: 10px 20px;
    border: none;
    border-radius: 15px 5px 15px 5px;
    cursor: pointer;
    font-size: 1.2rem;
}
.botao-orcamento:hover{
    background-color: rgb(255, 214, 30);
    color: var(--cor-terciaria);
}