.container-processo{
    width: 100%;
    max-width: 1200px;
    margin: 10px auto;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card-processo{
    height: 100%;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    cursor: pointer;
}
.processo-imagem{
    width: 100px;
    height: 100px;
    position: absolute;
    transition: transform 0.4s ease-in-out;
}