

.figure-processo{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container-processo{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
.card-processo{
    flex-basis: calc(25% - 10px);
    height: 200px;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.processo-imagem{
    width: 80px;
    height: 80px;
    transition: transform 0.4s ease-in-out;
}
.figcaption-processo{
    top: 100px;
    width: 100%;
    height: 100%;
    padding: 10px;
    color: var(--cor-terciaria);
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    font-size: 1rem;
}
